$main-color: #ffffff;
$secondary-color: #D4F1FF;
$select-color: #83edff;
$subtitle-color: #ABABAB;
$button-color: #B0E5FF;
$button-hover-color: #b4d8e8;
$item-mark-color: rgba(85, 179, 255, 0.32);
$msg-error-color: #ff7777;